<h3>Welcome!</h3>
<div class="home">
  <p class="info-card">
    <small>
      Welcome to Tiffany Velasquez Yoga!<br />
      We are a new studio located in Mendocino County, California.<br />
      There are four or five free <a routerLink="/schedule">sessions</a> a week available for you
      to come and learn our craft, interact with other students, and relax.<br />
      <a routerLink="/contact">Drop us a line</a>
      if you are interested in learning more.
    </small><br />
  </p>
  <div class="quotes">
    Om Namo Bagvate.<br /><br />
    Be strong in body, clean in mind, lofty in ideals.<br /><br />
    Self-confidence is the foundation of all great success and achievement.<br /><br />
    You are never too old to set a new goal or dream a new dream.<br /><br />
    The starting point of all achievement is desire.<br /><br />
    Do something today that your future self will thank you for.<br /><br />
    Strive not to be a success, but rather to be value. - Albert Einstein<br /><br />
    No matter how cool, talented, educated or rich you think you are, how you treat people tells all. Integrity is everything.
  </div>
</div>
